<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161710856962-iokfonkf7u1kcmna4savr3mrjae0e4se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161710856962-iokfonkf7u1kcmna4savr3mrjae0e4se</string>
	<key>API_KEY</key>
	<string>AIzaSyCKjeBeJf404L0H8ROg8zPsVe6WCS1poBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>161710856962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorbatirow.SkateBud</string>
	<key>PROJECT_ID</key>
	<string>skatebud-1e743</string>
	<key>STORAGE_BUCKET</key>
	<string>skatebud-1e743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161710856962:ios:357fd526c3e95ee51dc01b</string>
</dict>
</plist>